@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
   John Cooley
    ext 5858
</address>

<address>
    <strong>Support:</strong> <a href="john.cooley@manchester.ac.uk">Support@example.com</a><br />

</address>
