@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>ResPAL Research Database</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Welcome to ResPAL Research Database</h2>
        <p>
            ResPAL (Respiratory & Allergy Database). is a Research repository of clinical data for patients within the National Aspergillosis Centre.
        </p>
    </div>
    <div class="col-md-6">
        <h2>An Asp.Net Mvc Application</h2>
        <p>You can build the application by following the steps in a series of tutorials.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See the tutorial &raquo;</a></p>
    </div>
</div>