@model ResPAL_MVC.Models.ResPALModels.Patient

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Patient</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="PatientID" />
        <div class="form-group">
            <label asp-for="RESID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="RESID" class="form-control" />
                <span asp-validation-for="RESID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RM2Number" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="RM2Number" class="form-control" />
                <span asp-validation-for="RM2Number" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FirstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Gender" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DOB" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DOB" class="form-control" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PatientStatus" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PatientStatus" class="form-control" />
                <span asp-validation-for="PatientStatus" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
